@model Lab10.Models.TypeActivite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeActivite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomActivite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomActivite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaloriePerduHeure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaloriePerduHeure)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeActiviteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
